*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: ;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 0 16px;
}

.lift{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lift img{
    width: 50%;
    padding-left:20px ;
}

.center{
    display: flex;
    align-items: center;
}

.center form{
    display: flex;
    height: 40px;
    width: 628px;
}

.center form input{
    width: 100%;
    border-radius: 5px 0 0 5px;
    padding: 10px;
    font-size: 1.6rem;
    border: 1px solid #d3d3d3;
}

.center form button{
    width: 65px;
    border: 1px solid md3d3d3;
    border-radius: 0 5px 5px 0;
    background-color: #f7f7f7;
    cursor: pointer;
    padding-top: 4px;
}

.center form button:hover{
    background-color: #f0f0f0;
}

.mic{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #f7f7f7;
    display:flex ;
    justify-content:center ;
    align-items: center;
    padding-top: 8px;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
}

.right a{
    padding: right;
    text-decoration: none;
    color: black;
    margin-left: 7px;
}

/*-----------------start content-area---------------*/

.content-area{
    height: calc(100vh - 55px);
    display: flex;
    background-color: #f8f8f8;
}

.aside{
    height: 100%;
    width: 280px;
    background-color: white;
    overflow-y: auto;
}

.nav{
    width: 100%;
    flex-direction: column;
    margin: 15px;
    padding-right: 15px;
}

.nav a{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    color: black;

}

.nav a:hover{
    background-color: rgb(0, 0, 0, 0.05);
}

.nav span{
    margin-left: 25px;
    font-size: 1.6rem;
    line-height: 2em;
    font-weight: 400;
    color: black;
}

.active{
    background-color: #efefef;
}

hr{
    margin: 10px 0;
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}

.nav h2{
    padding:30px;
}

.nav img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
/*-----min-------*/


.min{
    height: 100%;
    overflow-y: auto;
}

.card{
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 20px;
    background-color: white;
}

.card:hover{
    box-shadow: 3px 3px 10px rgba(199, 88, 88, 0.705);
    transform: translateX(1px);
    cursor: pointer;
}
.card img{
    border-radius: 20px   20px 0 0;
}

.card .card-body img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.b{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}